/* Reset rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
html,
body {
  height: 100%;
  font-family: "Merriweather Sans", sans-serif;
}

/* Nav */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #161925;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
  box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
}

.menu a {
  /* display: inline-block; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: #8ea8c3;
  color: black;
}

.menu a.logo {
  background-color: #23395b;
  color: white;
}
/* Map */
#map-template {
  height: 72vh;
}

.container-header {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.container-header img {
  width: 100px;
  padding: 0px 10px 0px 10px;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: rgb(49, 165, 200);
  text-decoration: none;
}

.mapGlobal {
  visibility: visible;
}

/* modal windows */
.modal {
  visibility: hidden;
  display: flex;
  flex-direction:column;
  position: fixed;
  top: 20px;
  left: 0;
  width: 50vw;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(235, 226, 226, 0.918);
  padding: 1%;
  margin: 3% 25%;
}

.modal_inner {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 800px;
  border-radius: 4px;
}

.modal_top {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  height: 50px;
  margin: 2px;
  padding: 3px 3px;
}

.modal_top h2 {
  color: white;
}

.modal_top img {
  height: 50%;
}

.modal_title {
  text-align: center;
  justify-content: center;
}

.modal_content {
  width:100%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}